h1 {
  font-style: italic;
  text-align: center;
  font-size: 100px;
}

.favorite-website {
    color: lightseagreen;
}

#dev-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}
 div.developer {
    width: 200px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
 }

 #food-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 2em;
  margin-right: 2em;
  gap: 50px;
 }

 .food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 20px;
  padding: 10px;
  font-size: 30px;
 }

 .food img {
  width: 150px;
  height: 200px;
 }
